html,
body,
h1 {
    margin: 0;
    padding: 0;
}

.main_header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background: linear-gradient(329deg, rgba(58,177,180,1) 7%, rgba(78,156,74,1) 53%, rgba(252,176,69,1) 100%);
    color: white;
    font-size: 2.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.wrapper {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.wrapper div img {
    width: 250px;
    height: 250px;
    margin: 20px;
}

.box {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 580px)
{
    .wrapper
    {
        display: flex;
        flex-direction: column;
    }

    .wrapper div img
    {
        width: 90%;
        height: 300px;
    }
}

@media screen and (min-width: 581px) and (max-width: 900px)
{
    .wrapper
    {
        display: flex; 
        flex-direction: row;     
    }

    .wrapper div img
    {
        margin: 20px;
    }

    /*.wrapper div img
    {
        width: 30%;
        height: 450px;
    }*/
}


